name: Component Detection (vcpkg)

on:
  workflow_dispatch:
  push:
    branches: [ master ]

permissions:
  id-token: write
  contents: write

env:
  VCPKG_FEATURE_FLAGS: dependencygraph

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cruvixdev/stm32-ci:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=./submodules/vcpkg/scripts/buildsystems/vcpkg.cmake -S . -B ./build -G Ninja
      - name: Component detection dependency submission
        uses: advanced-security/component-detection-dependency-submission-action@v0.1.0
