name: Populate dependencies

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

env:
  VCPKG_FEATURE_FLAGS: dependencygraph

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Bootstrap vcpkg
      run: ${{ github.workspace }}/submodules/vcpkg/bootstrap-vcpkg.sh

    - name: Run vcpkg
      run: ${{ github.workspace }}/submodules/vcpkg/vcpkg install --dry-run
