name: dependencies-scan

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  id-token: write
  contents: write

jobs:
  dependencies-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Component Detection dependency submission action
        uses: advanced-security/component-detection-dependency-submission-action@v0.1.0
